@media screen and (max-width: 1450px) {
    .main_block {
            padding: 70px 0;
    }
    .logo img {
        width: 360px;
        height: auto;
    }
    .main_block .logo {
            padding-bottom: 10px;
    }
    .main_block p {
            padding-bottom: 15px;
    }
    .main_block h1 {
        padding-bottom: 22px;
    }
    .main_block .main_block_column.right {
        padding-top: 40px;
    }
    .our_advantages {
        padding: 70px 0 0;
    }
    .our_advantages .title {
            padding-bottom: 60px;
    }
    .our_advantages .advantages_item {
        width: 460px;
        margin: 0 50px 60px;
    }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header {
    background: #ffd34c;
  }
  .footer_social,
  .header_social {
    float: none;
    text-align: center;
  }
  .main_block .main_block_column.right {
    display: none;
  }
  .main_block .main_block_column.left {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .info_slider_mobile {
    display: block;
  }
  .info_slider {
    display: none;
  }
  .advantages {
    padding: 100px 0;
  }
  .download {
    padding-top: 100px;
  }
  .download_column.left {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 0;
    padding-right: 0;
  }
  .download_column.right {
    width: 100%;
    text-align: center;
    float: none;
  }
  .download_column.right img {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 980px) {
  .main_block {
    padding: 30px 0;
  }
  .main_block .logo {
    padding-bottom: 5px;
  }
  .main_block .logo img {
    width: 130px;
    height: auto;
  }
  .main_block p {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .main_block h1 {
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .main_block span {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 19px;
  }
  .our_advantages {
    padding: 30px 0 0;
  }
  .our_advantages .title {
    padding-bottom: 30px;
  }
  .title {
    font-size: 25px;
    line-height: 29px;
  }
  .our_advantages .advantages_item.fast h4 {
    background: url(../img/fast-ic.png) 0 50% no-repeat;
    background-size: 30px auto;
  }
  .our_advantages .advantages_item h4 {
    background-size: 20px auto !important;
    padding: 15px 0 15px 30px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .our_advantages .advantages_item p {
    font-size: 15px;
    line-height: 19px;
  }
  .title {
    font-size: 23px;
    line-height: 27px;
  }
  .our_advantages .advantages_item {
    display: inline-block;
    width: 80%;
    margin: 0 0px 40px;
  }

  .advantages {
    padding: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .parallax {
    display: none;
  }

  .advantages .advantages_slider .item {
    padding-top: 70px;
  }
  .advantages .title {
    margin-bottom: 10px;
  }
  .advantages .title .subtitle {
    font-size: 15px;
  }
  .advantages .advantages_slider .owl-dot {
    width: 10px;
    height: 10px;
  }
  .advantages .advantages_slider .left_column {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .advantages .advantages_slider .right_column {
    float: none;
    width: 100%;
    text-align: center;
  }
  .advantages .advantages_slider .left_column img {
    width: 35%;
  }
  .advantages .advantages_slider .right_column h3 {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
  }
  .advantages .advantages_slider .right_column p {
    font-size: 15px;
    line-height: 19px;
  }

  .download {
    padding: 30px 0;
  }
  .download_column h3 {
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 26px;
  }
  .download_column p {
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 19px;
  }
  .download_column.right {
    display: none;
  }
  .download_column.left {
    margin-bottom: 0;
  }
  .footer .logo {
    float: none;
  }
  .footer .logo img {
    float: none;
  }
  .footer_social a:last-child,
  .header_social a:last-child {
    margin-right: 20px;
  }
  .footer_top {
    padding: 20px 0;
    text-align: center;
  }
  .footer_bottom {
    padding: 15px 0;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
  }
  .our_advantages .advantages_item {
    opacity: 1;
    transform: translateX(0px);
  }
  .main_block .main_block_column.left {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 768px) {
  .info_block {
    padding: 30px 0 100px;
  }
  .info_title {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 600px) {
  .info_block {
    padding: 40px 0 100px;
    min-height: 980px;
  }
  .info_title {
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 20px;
  }
  .info_slider_mobile {
    width: 100%;
  }
  .info_slider_mobile .card {
    width: 100%;
    text-align: center;
  }
  .info_slider_mobile .card img {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  
  .our_advantages .title {
    padding-bottom: 10px;
    font-size: 21px;
    line-height: 25px;
  }
  .our_advantages .advantages_item h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .apps_block a {
    width: 100px;
    height: 36px;
    background-size: contain !important;
  }
  .apps_block .play_market {
    width: 113px;
  }
  .our_advantages .advantages_item {
    margin: 0 0px 25px;
  }
  .info_block {
    padding: 30px 0 100px;
    min-height: 770px;
  }
  .info_title {
    margin-bottom: 80px;
    font-size: 15px;
    line-height: 19px;
  }
  .info_logo {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 400px) {
  .info_block {
    min-height: 700px;
  }
}
@media screen and (max-width: 420px) {
    .main_block {
        padding: 30px 0;
        min-height: 93vh;
        display: flex;
        align-items: center;
    }
    .main_block .logo {
        padding-bottom: 25px;
    }
    .main_block p {
        padding-bottom: 30px;
    }
    .main_block h1 {
        padding-bottom: 25px;
    }
    .main_block span {
        padding-bottom: 45px;
    }
    
    .our_advantages .advantages_item {
        margin: 0 0px 10px;
        margin: 0 0px 1.5vh;
    }
    .our_advantages .title {
        padding-bottom: 20px;
        padding-bottom: 3vh;
    }
    .our_advantages {
        min-height: 100vh;
    }

    
  .info_block {
    min-height: 650px;
    min-height: 100vh;
    padding-bottom: 0;
  }
  .info_slider_mobile {
    width: 80%;
  }
  .advantages {
    min-height: 100vh;  
  }
  .advantages .title {
    margin-bottom: 30px;
    margin-bottom: 5vh;
  }
  .advantages .advantages_slider .left_column {
    margin-bottom: 30px;
    margin-bottom: 5vh;
  }
  .advantages .advantages_slider .right_column h3 {
    margin-bottom: 20px;
    margin-bottom: 4vh;
  }
  .download_column.right img {
      width: 100%;
      display: block;
  }
  .download {
      padding-bottom: 0;
      min-height: 100vh;
  }
  .download_column.right {
      display: block;
  }
  
}
