html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote:before, blockquote:after {
    content: "";
    content: none; }
  
  q:before, q:after {
    content: "";
    content: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  a {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  
  body {
    min-width: 320px;
    max-width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #292929;
    background: #fff; }
  
  .container {
    width: 1170px;
    margin: 0 auto; }
  
  .header {
    background: #ffd34c;
    overflow: hidden; }
    .header .menu-top-menu-container {
      float: left; }
    .header .header_social {
      padding-top: 20px; }
      .header .header_social a {
        color: #292929; }
        .header .header_social a:hover {
          color: #000; }
  
  .main_block {
    width: 100%;
    overflow: hidden;
    padding: 150px 0;
    background: url("../img/mountains-with-bg.jpg") 50% 50% no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
    .main_block p {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 45px;
      font-weight: 700; }
    .main_block h1 {
      font-size: 60px;
      line-height: 64px;
      font-weight: 700;
      padding-bottom: 40px; }
    .main_block span {
      display: inline-block;
      padding-bottom: 40px; }
    .main_block .logo {
      padding-bottom: 35px;
      text-align: center; }
    .main_block .container:after {
      content: "";
      display: block;
      clear: both; }
    .main_block .main_block_column {
      width: 50%;
      float: left;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .main_block .main_block_column.left {
        padding-right: 120px;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        opacity: 0; }
        .main_block .main_block_column.left.visible {
          opacity: 1;
          -webkit-transform: translateX(0px);
              -ms-transform: translateX(0px);
                  transform: translateX(0px); }
      .main_block .main_block_column.right {
        padding-top: 70px;
        text-align: right;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        opacity: 0; }
        .main_block .main_block_column.right.visible {
          opacity: 1;
          -webkit-transform: translateX(0px);
              -ms-transform: translateX(0px);
                  transform: translateX(0px); }
  
  .apps_block a {
    display: inline-block;
    width: 155px;
    height: 56px;
    margin-right: 5px; }
    .apps_block a:hover {
      opacity: 0.8; }
  .apps_block .app_store {
    background: url("../img/app-store.png") 50% 50% no-repeat; }
  .apps_block .play_market {
    width: 165px;
    background: url("../img/google-play-ic.png") 50% 50% no-repeat; }
  
  .our_advantages {
    padding: 140px 0 0;
    text-align: center; }
    .our_advantages .title {
      padding-bottom: 130px; }
    .our_advantages .advantages_item {
      display: inline-block;
      vertical-align: top;
      width: 380px;
      margin: 0 90px 150px;
      -webkit-transform: translateY(400px);
          -ms-transform: translateY(400px);
              transform: translateY(400px);
      opacity: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .our_advantages .advantages_item.visible {
        opacity: 1;
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px); }
      .our_advantages .advantages_item h4 {
        display: inline-block;
        padding: 15px 0 15px 95px;
        margin-bottom: 30px;
        font-size: 43px;
        line-height: 47px;
        color: #353854;
        font-weight: 700;
        background-position: 0 50%;
        background-repeat: no-repeat; }
      .our_advantages .advantages_item p {
        font-size: 29px;
        line-height: 54px; }
  
  .title {
    font-size: 35px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  
  .info_block {
    min-height: 1000px;
    background: #ffd34c;
    padding: 80px 0 100px;
    text-align: center; }
  
  .info_logo {
    margin-bottom: 10px; }
    .info_logo img {
      width: 150px;
      height: auto; }
  
  .info_title {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px; }
  
  .info_slider {
    position: relative; }
    .info_slider [data-slider_item] {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
    .info_slider .prime {
      top: 0;
      -webkit-transform: translateX(-50%) scale(1);
          -ms-transform: translateX(-50%) scale(1);
              transform: translateX(-50%) scale(1);
      z-index: 5; }
    .info_slider .left1 {
      -webkit-transform: translateX(-110%) scale(0.9);
          -ms-transform: translateX(-110%) scale(0.9);
              transform: translateX(-110%) scale(0.9);
      z-index: 4; }
    .info_slider .left2 {
      -webkit-transform: translateX(-150%) scale(0.8);
          -ms-transform: translateX(-150%) scale(0.8);
              transform: translateX(-150%) scale(0.8);
      z-index: 3; }
    .info_slider .left3 {
      -webkit-transform: translateX(10%) scale(0.9);
          -ms-transform: translateX(10%) scale(0.9);
              transform: translateX(10%) scale(0.9);
      z-index: 4; }
    .info_slider .left4 {
      -webkit-transform: translateX(50%) scale(0.8);
          -ms-transform: translateX(50%) scale(0.8);
              transform: translateX(50%) scale(0.8);
      z-index: 3; }
  
  .info_slider_mobile {
    position: relative;
    width: 380px;
    margin: 0 auto;
    display: none; }
    .info_slider_mobile .card {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
      -webkit-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
      -o-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
      transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
      cursor: pointer; }
      .info_slider_mobile .card:nth-child(1) {
        z-index: 10;
        top: 0px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
        opacity: 1; }
      .info_slider_mobile .card:nth-child(2) {
        z-index: 9;
        top: -15px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
        opacity: 0.9; }
      .info_slider_mobile .card:nth-child(3) {
        z-index: 8;
        top: -30px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
        opacity: 0.8; }
      .info_slider_mobile .card:nth-child(4) {
        z-index: 7;
        top: -45px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
        opacity: 0.7; }
      .info_slider_mobile .card:nth-child(5) {
        z-index: 6;
        top: -60px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
        opacity: 0.6; }
      .info_slider_mobile .card:nth-child(6) {
        z-index: 5;
        top: -75px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
        opacity: 0.5; }
      .info_slider_mobile .card:nth-child(7) {
        z-index: 4;
        top: -90px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
        opacity: 0.4; }
      .info_slider_mobile .card:nth-child(8) {
        z-index: 3;
        top: -105px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
            transform: scale(0.3);
        opacity: 0.3; }
      .info_slider_mobile .card:nth-child(9) {
        z-index: 2;
        top: -120px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
            transform: scale(0.2);
        opacity: 0.2; }
      .info_slider_mobile .card:nth-child(10) {
        z-index: 1;
        top: -135px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
            transform: scale(0.1);
        opacity: 0.1; }
      .info_slider_mobile .card:nth-child(11) {
        z-index: 0;
        top: -150px;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
        opacity: 0; }
      .info_slider_mobile .card:first-child:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
  
  .advantages {
    padding: 200px 0; }
    .advantages .container {
      position: relative; }
    .advantages .title {
      margin-bottom: 20px; }
      .advantages .title .subtitle {
        font-size: 18px;
        line-height: 22px;
        text-transform: none;
        text-align: center;
        color: #999;
        font-weight: 400; }
  
  @-webkit-keyframes item1 {
      from { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
      to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
  }
  
  @keyframes item1 {
      from { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); 	transform: rotate(0deg) translateX(20px) rotate(0deg); }
      to   {  -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);  transform: rotate(360deg) translateX(20px) rotate(-360deg); }
  }
  
  @-webkit-keyframes item2 {
      from { 	-webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); 	transform: rotate(0deg) translateX(40px) rotate(0deg); }
      to   {  -webkit-transform: rotate(180deg) translateX(40px) rotate(-180deg);  transform: rotate(180deg) translateX(40px) rotate(-180deg); }
  }
  
  @keyframes item2 {
      from { 	-webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); 	transform: rotate(0deg) translateX(40px) rotate(0deg); }
      to   {  -webkit-transform: rotate(180deg) translateX(40px) rotate(-180deg);  transform: rotate(180deg) translateX(40px) rotate(-180deg); }
  }
  
  @-webkit-keyframes item3 {
      from { 	-webkit-transform: translateX(20px); 	transform: translateX(20px); }
      to   {  -webkit-transform: translateX(-20px);  transform: translateX(-20px); }
  }
  
  @keyframes item3 {
      from { 	-webkit-transform: translateX(20px); 	transform: translateX(20px); }
      to   {  -webkit-transform: translateX(-20px);  transform: translateX(-20px); }
  }
  
  @-webkit-keyframes item4 {
      from { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(20deg); 	transform: rotate(0deg) translateX(20px) rotate(20deg); }
      to   {  -webkit-transform: rotate(-360deg) translateX(65px) rotate(360deg);  transform: rotate(-360deg) translateX(65px) rotate(360deg); }
  }
  
  @keyframes item4 {
      from { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(20deg); 	transform: rotate(0deg) translateX(20px) rotate(20deg); }
      to   {  -webkit-transform: rotate(-360deg) translateX(65px) rotate(360deg);  transform: rotate(-360deg) translateX(65px) rotate(360deg); }
  }
  
  @-webkit-keyframes item5 {
      0% { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); 	transform: rotate(0deg) translateX(20px) rotate(0deg); }
      50%   {  -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);  transform: rotate(360deg) translateX(100px) rotate(-360deg); }
      100%   {  -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);  transform: rotate(0deg) translateX(20px) rotate(0deg); }
  }
  
  @keyframes item5 {
      0% { 	-webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); 	transform: rotate(0deg) translateX(20px) rotate(0deg); }
      50%   {  -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);  transform: rotate(360deg) translateX(100px) rotate(-360deg); }
      100%   {  -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);  transform: rotate(0deg) translateX(20px) rotate(0deg); }
  }
  
  @-webkit-keyframes item6 {
      from { 	-webkit-transform: translateX(100px); 	transform: translateX(100px); }
      to   {  -webkit-transform: translateX(-100px);  transform: translateX(-100px); }
  }
  
  @keyframes item6 {
      from { 	-webkit-transform: translateX(100px); 	transform: translateX(100px); }
      to   {  -webkit-transform: translateX(-100px);  transform: translateX(-100px); }
  }
  
  .parallax {
    position: absolute;
    left: 0;
    top: 0; }
    .parallax .parallax_item {
      position: absolute;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #ffcf3d;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .parallax .item1 {
      top: 100px;
      left: 380px;
      width: 80px;
      -webkit-animation: item1 8s linear infinite;
              animation: item1 8s linear infinite;
      height: 80px; }
    .parallax .item2 {
      top: 190px;
      left: 170px;
      width: 50px;
      -webkit-animation: item2 15s linear infinite alternate;
              animation: item2 15s linear infinite alternate;
      height: 50px; }
    .parallax .item3 {
      top: 320px;
      left: 20px;
      width: 80px;
      -webkit-animation: item3 15s linear infinite alternate;
              animation: item3 15s linear infinite alternate;
      height: 80px; }
    .parallax .item4 {
      top: 480px;
      left: 440px;
      width: 30px;
      -webkit-animation: item4 15s linear infinite alternate;
              animation: item4 15s linear infinite alternate;
      height: 30px; }
    .parallax .item5 {
      top: 560px;
      left: 100px;
      width: 60px;
      -webkit-animation: item4 20s linear infinite alternate;
              animation: item4 20s linear infinite alternate;
      height: 60px; }
    .parallax .item6 {
      top: 250px;
      left: 410px;
      width: 20px;
      -webkit-animation: item5 50s linear infinite;
              animation: item5 50s linear infinite;
      height: 20px; }
    .parallax .item7 {
      top: 600px;
      left: 350px;
      width: 50px;
      -webkit-animation: item4 50s linear infinite alternate;
              animation: item4 50s linear infinite alternate;
      height: 50px; }
    .parallax .item8 {
      top: 30px;
      left: 50px;
      width: 40px;
      -webkit-animation: item4 40s linear infinite alternate;
              animation: item4 40s linear infinite alternate;
      height: 40px }
    .parallax .item9 {
      top: 60px;
      left: 220px;
      width: 30px;
      -webkit-animation: item6 50s linear infinite alternate;
              animation: item6 50s linear infinite alternate;
      height: 30px; }
  
  .advantages_slider .item {
    padding-top: 200px; }
  .advantages_slider:after {
    content: "";
    display: block;
    clear: both; }
  .advantages_slider .left_column {
    float: left;
    width: 50%;
    text-align: center; }
    .advantages_slider .left_column img {
      display: inline-block;
      width: 40%;
      height: auto; }
  .advantages_slider .right_column {
    float: left;
    width: 43%; }
    .advantages_slider .right_column h3 {
      margin-bottom: 25px;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 700; }
    .advantages_slider .right_column p {
      font-size: 24px;
      line-height: 36px;
      color: #353854; }
  .advantages_slider .owl-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }
  .advantages_slider .owl-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 7px;
    background: #a3a3a3;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .advantages_slider .owl-dot.active {
      background: #000; }
  
  .download {
    padding-top: 150px;
    background-color: #ffd34c;}
    .download:after {
      content: "";
      display: block;
      clear: both; }
  
  .download_column {
    float: left; }
    .download_column h3 {
      padding-bottom: 30px;
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase; }
    .download_column p {
      padding-bottom: 35px;
      font-size: 18px;
      line-height: 22px;
      color: #000; }
    .download_column.left {
      padding-top: 170px;
      padding-right: 50px;
      width: 40%; }
    .download_column.right {
      width: 60%; }
      .download_column.right img {
        display: block;
        width: 100%;
        height: auto; }
  
  .footer {
    background: #292929; }
    .footer .logo {
      float: left; }
      .footer .logo img {
        width: 170px;
        height: auto;
        float: left; }
  
  .footer_top {
    padding: 70px 0;
    border-bottom: 1px solid #ffbf3e; }
    .footer_top:after {
      content: "";
      display: block;
      clear: both; }
  
  .footer_social {
    margin-top: 13px; }
  
  .footer_social, .header_social {
    float: right; }
    .footer_social a, .header_social a {
      display: inline-block;
      margin: 0 20px;
      color: #fff;
      text-decoration: none; }
      .footer_social a:hover, .header_social a:hover {
        color: #ffd34c; }
      .footer_social a:last-child, .header_social a:last-child {
        margin-right: 0; }
  
  .footer_bottom {
    padding: 50px 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: right; }
  