@import '_reset'

=clear
    content: ''
    display: block
    clear: both
=visible
    &.visible
        opacity: 1
        transform: translateX(0px)

*
    box-sizing: border-box
a
    transition: 0.2s
body
    min-width: 320px
    max-width: 100%
    // font-family: 'Roboto', sans-serif
    font-family: 'Ubuntu', sans-serif
    font-size: 18px
    line-height: 30px
    color: #292929
    background: #fff
.container
    width: 1170px
    margin: 0 auto
.header
    background: #ffd34c
    overflow: hidden
    .menu-top-menu-container
        float: left
    .header_social
        padding-top: 20px
        a
            color: #292929
            &:hover
                color: #000

.main_block
    width: 100%
    overflow: hidden
    padding: 150px 0
    background: url('../img/mountains-with-bg.jpg') 50% 50% no-repeat
    background-size: 100% 100%
    p
        font-size: 30px
        line-height: 34px
        padding-bottom: 45px
        font-weight: 700
    h1
        font-size: 60px
        line-height: 64px
        font-weight: 700
        padding-bottom: 40px
    span
        display: inline-block
        padding-bottom: 40px
    .logo
        padding-bottom: 35px
        text-align: center
    .container
        &:after
            +clear
    .main_block_column
        width: 50%
        float: left
        transition: 0.5s
        &.left
            padding-right: 120px
            transform: translateX(-100%)
            opacity: 0
            +visible
            
        &.right
            padding-top: 70px
            text-align: right
            transform: translateX(100%)
            opacity: 0
            +visible
.apps_block
    a
        display: inline-block
        width: 155px
        height: 56px
        margin-right: 5px
        &:hover
            opacity: 0.8
    .app_store
        background: url('../img/app-store.png') 50% 50% no-repeat
    .play_market
        width: 165px
        background: url('../img/google-play-ic.png') 50% 50% no-repeat
.our_advantages
    padding: 140px 0 0
    text-align: center
    .title
        padding-bottom: 130px
    .advantages_item
        display: inline-block
        width: 380px
        margin: 0 90px 150px
        transform: translateY(400px)
        opacity: 0
        transition: 0.5s
        +visible
        h4
            display: inline-block
            padding: 15px 0 15px 95px
            margin-bottom: 30px
            font-size: 43px
            line-height: 47px
            color: #353854
            font-weight: 700
            background-position: 0 50%
            background-repeat: no-repeat
        p
            font-size: 29px
            line-height: 54px

.title
    font-size: 35px
    line-height: 39px
    font-weight: 700
    text-transform: uppercase
    text-align: center

.info_block
    min-height: 1000px
    background: #ffd34c
    padding: 80px 0 100px
    text-align: center
.info_logo
    margin-bottom: 10px
    img
        width: 150px
        height: auto
.info_title
    margin-bottom: 50px
    font-size: 18px
    line-height: 22px
.info_slider
    position: relative
    [data-slider_item]
        position: absolute
        top: 0
        left: 50%
        transition: 0.4s
    .prime
        top: 0
        transform: translateX(-50%) scale(1)
        z-index: 5
    .left1
        transform: translateX(-110%) scale(0.9)
        z-index: 4
    .left2
        transform: translateX(-150%) scale(0.8)
        z-index: 3
    .left3
        transform: translateX(10%) scale(0.9)
        z-index: 4
    .left4
        transform: translateX(50%) scale(0.8)
        z-index: 3
.info_slider_mobile
    position: relative
    width: 380px
    margin: 0 auto
    display: none
    .card
        position: absolute
        top: 0
        left: 0
        -webkit-transform-origin: center
        transform-origin: center
        -webkit-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65)
        transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65)
        cursor: pointer
        &:nth-child(1)
            z-index: 10
            top: 0px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(1)
            transform: scale(1)
            opacity: 1
        &:nth-child(2)
            z-index: 9
            top: -15px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.9)
            transform: scale(0.9)
            opacity: 0.9
        &:nth-child(3)
            z-index: 8
            top: -30px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.8)
            transform: scale(0.8)
            opacity: 0.8
        &:nth-child(4)
            z-index: 7
            top: -45px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.7)
            transform: scale(0.7)
            opacity: 0.7
        &:nth-child(5)
            z-index: 6
            top: -60px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.6)
            transform: scale(0.6)
            opacity: 0.6
        &:nth-child(6)
            z-index: 5
            top: -75px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.5)
            transform: scale(0.5)
            opacity: 0.5
        &:nth-child(7)
            z-index: 4
            top: -90px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.4)
            transform: scale(0.4)
            opacity: 0.4
        &:nth-child(8)
            z-index: 3
            top: -105px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.3)
            transform: scale(0.3)
            opacity: 0.3
        &:nth-child(9)
            z-index: 2
            top: -120px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.2)
            transform: scale(0.2)
            opacity: 0.2
        &:nth-child(10)
            z-index: 1
            top: -135px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0.1)
            transform: scale(0.1)
            opacity: 0.1
        &:nth-child(11)
            z-index: 0
            top: -150px
            -webkit-transform-origin: top
            transform-origin: top
            -webkit-transform: scale(0)
            transform: scale(0)
            opacity: 0
        &:first-child:hover
            -webkit-transform: scale(1.05)
            transform: scale(1.05)


.advantages
    padding: 200px 0
    background: url('../img/grey_lines.png') 50% 50% no-repeat
    background-size: cover
    .container
        position: relative
    .title
        margin-bottom: 20px
        .subtitle
            font-size: 18px
            line-height: 22px
            text-transform: none
            text-align: center
            color: #999
            font-weight: 400
.parallax
    position: absolute
    left: 0
    top: 0
    .parallax_item
        position: absolute
        background: #ffcf3d
        border-radius: 50%
    .item1
        top: 100px
        left: 380px
        width: 80px
        height: 80px
    .item2
        top: 190px
        left: 170px
        width: 50px
        height: 50px
    .item3
        top: 320px
        left: 20px
        width: 80px
        height: 80px
    .item4
        top: 480px
        left: 440px
        width: 30px
        height: 30px
    .item5
        top: 560px
        left: 100px
        width: 60px
        height: 60px
    .item6
        top: 250px
        left: 410px
        width: 20px
        height: 20px
    .item7
        top: 600px
        left: 350px
        width: 50px
        height: 50px
    .item8
        top: 30px
        left: 50px
        width: 40px
        height: 40px
    .item9
        top: 60px
        left: 220px
        width: 30px
        height: 30px
.advantages_slider
    .item
        padding-top: 200px
    &:after
        +clear
    .left_column
        float: left
        width: 50%
        text-align: center
        img
            display: inline-block
            width: 40%
            height: auto
    .right_column
        float: left
        width: 43%
        h3
            margin-bottom: 25px
            font-size: 36px
            line-height: 40px
            text-transform: uppercase
            font-weight: 700
        p
            font-size: 24px
            line-height: 36px
            color: #353854

    .owl-dots
        position: absolute
        top: 0
        left: 0
        width: 100%
        text-align: center
    .owl-dot
        display: inline-block
        width: 14px
        height: 14px
        margin: 0 7px
        background: #a3a3a3
        border-radius: 50%
        &.active
            background: #000
.download
    padding-top: 150px
    background-color: #ffd34c
    background-image: url('../img/lines-yellow.png')
    background-position: 50% 50%
    background-repeat: no-repeat
    &:after
        +clear
.download_column
    float: left
    h3
        padding-bottom: 30px
        font-size: 36px
        line-height: 40px
        font-weight: 700
        color: #000
        text-transform: uppercase
    p
        padding-bottom: 35px
        font-size: 18px
        line-height: 22px
        color: #000
    &.left
        padding-top: 170px
        padding-right: 50px
        width: 40%
    &.right
        width: 60%
        img
            display: block
            width: 100%
            height: auto
.footer
    background: #292929
    .logo
        float: left
        img
            width: 170px
            height: auto
            float: left
.footer_top
    padding: 70px 0
    border-bottom: 1px solid #ffbf3e
    &:after
        +clear
.footer_social
    margin-top: 13px
.footer_social, .header_social
    float: right
    a
        display: inline-block
        margin: 0 20px
        color: #fff
        text-decoration: none
        &:hover
            color: #ffd34c
        &:last-child
            margin-right: 0
.footer_bottom
    padding: 50px 0
    color: #fff
    font-size: 16px
    line-height: 20px
    text-align: right




